@tailwind base;
* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}
@tailwind components;
@tailwind utilities;

/* custom fonts */
@font-face {
  font-family: "SfMono";
  src: url("../../assets/fonts/SF-Mono-Regular.ttf");
}
@font-face {
  font-family: "Calibri";
  src: url("../../assets/fonts/Calibri-Regular.ttf");
}
